    /* start of reset code */
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
        max-width: 100%;
        font-size: 62.5%;
        background-color: #9DD1AB;
        font-family: 'Crimson Text', serif;
    }
    /* END OF RESET CODE */
    
    header {
        display: flex;
        justify-content: space-between;
        background-color: #22803B;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .title {
        background-color: #22803B;
    }
    
    h1 {
        font-size: 2.8rem;
        font-weight: 500;
        font-family: 'Alegreya Sans SC', sans-serif;
        width: 100%;
        margin: 5%;
        background-color: #22803B;
    }
    
    h1 a {
        text-decoration: none;
        color: white;
        background-color: #22803B;
    }
    
    nav.links {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        width: 35%;
        background-color: #22803B;
    }
    
    .links a {
        color: white;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 500;
        text-decoration: none;
        margin: 1% 2% 1% 2%;
        background-color: #22803B;
        padding: 2%;
        transition: 0.5s;
    }
    
    .links a:hover {
        background-color: #22803B;
        color: rgb(202, 140, 110);
        transition: 0.5s;
        border-radius: 0px;
    }
    
    nav.accountLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 500;
        width: 10%;
        text-align: center;
        padding: 0;
        background-color: whitesmoke;
        color: #08521C;
    }
    
    .accountLinks a {
        color: #08521C;
        font-family: 'Alegreya Sans SC', sans-serif;
        text-decoration: none;
        padding: 1%;
        background-color: whitesmoke;
    }
    
    .accountLinks a:hover {
        color: rgb(202, 140, 110);
        transition: 0.5s;
    }
    
    .headerImg {
        max-height: 250px;
        object-fit: cover;
        overflow: hidden;
    }
    
    .headerImg img {
        width: 100%;
    }
    /* All about main content */
    
    .mainContent {
        margin: 5% 3% 5% 3%;
    }
    
    .mainContent img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 50px;
    }
    
    .forget,
    .record,
    .organize,
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2% 0% 2% 0%;
    }
    
    .record h2,
    .forget h2,
    .organize h2,
    .intro h2 {
        font-size: 3.5rem;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #08521C;
        margin-bottom: 2%;
    }
    
    .record p,
    .organize p,
    .forget p,
    .intro p {
        font-size: 1.5rem;
        font-weight: 520;
        line-height: 1.5;
        color: white;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
    }
    /* All about footer */
    
    footer div {
        background-color: #22803B;
    }
    
    .footerLinks {
        display: flex;
        background-color: #22803B;
        justify-content: space-between;
        margin-bottom: 0%;
    }
    /*styles for Articles page */
    
    .mainContentArticles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .mainContentArticles div {
        width: 40%;
        height: 100%;
        margin: 1% 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mainContentArticles div img {
        width: 400px;
        height: 300px;
        border-radius: 10%;
    }
    
    .mainContentArticles a {
        font-size: 2rem;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #08521C;
        text-decoration: none;
        text-align: center;
    }
    
    .plantCare,
    .bestTime,
    .spurts,
    .potting101 {
        padding: 2%;
    }
    
    .mainContentArticles a:hover {
        color: rgb(202, 140, 110);
        transition: 0.5s;
    }
    /* styles for SubArticles pages */
    
    .plantCareSection,
    .bestTimeSection,
    .spurtsSection,
    .potting101Section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
    }
    
    .plantCareImage,
    .bestTimeImage,
    .spurtsImage,
    .potting101Image {
        display: flex;
        justify-content: center;
    }
    
    .plantCareSection img,
    .bestTimeSection img,
    .spurtsSection img,
    .potting101Section img {
        width: 60rem;
        height: 30rem;
        margin-bottom: 2%;
    }
    
    .plantCareSection h2,
    .bestTimeSection h2,
    .spurtsSection h2,
    .potting101Section h2 {
        display: flex;
        justify-content: center;
    }
    
    .plantCareText,
    .bestTimeText,
    .spurtsText,
    .potting101Text {
        font-size: 1.5rem;
        font-weight: 520;
        line-height: 1.5;
        color: whitesmoke;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
    }
    
    .plantCareSection h2,
    .plantCareText h3,
    .bestTimeSection h2,
    .bestTimeText h3,
    .spurtsSection h2,
    .spurtsText h3,
    .potting101Section h2,
    .potting101Text h3 {
        font-size: 3rem;
        font-weight: 520;
        line-height: 1.5;
        color: #08521C;
        margin-left: 15%;
        margin-right: 15%;
        text-align: center;
    }
    
    .plantCareSection h2,
    .bestTimeSection h2,
    .spurtsSection h2,
    .potting101Section h2 {
        margin: 2% 0;
        font-size: 3.5rem;
    }
    /* Media queries starts here */
    
    @media screen and (max-width:1344px) {
        /* media queries for header/footer */
        .title h1 {
            font-size: 2.8rem;
            max-width: 100%;
            margin: 0 auto;
            padding: 2% 0%;
        }
        .links a {
            display: flex;
            font-size: 1.8rem;
            width: 100%;
            margin: 0;
            height: 70%;
            text-align: center;
        }
        nav.links {
            width: 100%;
            margin: 0 auto;
            align-items: center;
        }
        nav.accountLinks {
            margin: 1% 1%;
            width: 25%;
        }
        .accountLinks a {
            font-size: 2.2rem;
            padding: 5% 3%;
            text-align: center;
        }
        .links a:hover {
            background-color: #22803B;
            color: rgb(202, 140, 110);
            transition: 0.5s;
            border-radius: 0px;
        }
        .headerImg {
            max-height: 250px;
        }
        /* styles for home page */
        .intro h2,
        .record h2,
        .forget h2,
        .organize h2 {
            font-size: 4rem;
            text-align: center;
            margin: 1%;
        }
        .record p,
        .organize p,
        .forget p,
        .intro p {
            font-size: 1.5rem;
            margin: 2%;
        }
        /*queries for article page */
        .mainContentArticles {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .mainContentArticles div {
            width: 90%;
            margin: 4% 0%;
        }
        .mainContentArticles a {
            margin-top: 5%;
            font-size: 4rem;
        }
        .mainContentArticles div img {
            width: 700px;
            height: 600px;
        }
        .plantCare,
        .bestTime,
        .spurts,
        .potting101 {
            padding: 0%;
        }
        /*queries for SUBarticles page */
        .plantCareSection,
        .bestTimeSection,
        .spurtsSection,
        .potting101Section {
            padding: 4%;
        }
        .plantCareSection img,
        .bestTimeSection img,
        .spurtsSection img,
        .potting101Section img {
            width: 50rem;
            height: 30rem;
        }
        .plantCareSection h2,
        .bestTimeSection h2,
        .spurtsSection h2,
        .potting101Section h2 {
            font-size: 3.5rem;
            padding: 0% 5%;
        }
        .plantCareText,
        .bestTimeText,
        .spurtsText,
        .potting101Text {
            font-size: 1.8rem;
            margin: 0% 8%;
        }
    }
    /* media queries for 800px */
    
    @media screen and (max-width: 800px) {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .title h1 {
            font-size: 3.5rem;
            max-width: 100%;
            margin: 0 auto;
            padding: 2% 0%;
        }
        nav.links {
            justify-content: space-evenly;
            margin: 0 auto;
        }
        .links a {
            font-size: 1.3rem;
            width: 22%;
            margin: 0;
            text-align: center;
            padding: 2% 0% 2% 2.5%;
        }
        nav.links {
            width: 100%;
            margin: 0 auto;
        }
        nav.accountLinks {
            margin: 1% 1%;
            width: 35%;
        }
        .accountLinks a {
            font-size: 2rem;
            padding: 5% 3%;
            text-align: center;
        }
        .headerImg {
            max-height: 200px;
        }
        /* qureies for main content of home page */
        .intro h2,
        .record h2,
        .forget h2,
        .organize h2 {
            font-size: 3rem;
            text-align: center;
        }
        .record p,
        .organize p,
        .forget p,
        .intro p {
            font-size: 1.5rem;
            margin: 4%;
        }
        /*queries for article page */
        .mainContentArticles {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .mainContentArticles div {
            width: 90%;
            margin: 4% 0%;
        }
        .mainContentArticles a {
            margin-top: 5%;
            font-size: 3.2rem;
        }
        .mainContentArticles div img {
            width: 500px;
            height: 400px;
        }
        /*queries for SUBarticles page */
        .plantCareSection,
        .bestTimeSection,
        .spurtsSection,
        .potting101Section {
            padding: 0%;
        }
        .plantCareSection img,
        .bestTimeSection img,
        .spurtsSection img,
        .potting101Section img {
            width: 36rem;
            height: 23rem;
        }
        .plantCareSection h2,
        .bestTimeSection h2,
        .spurtsSection h2,
        .potting101Section h2 {
            font-size: 3.6rem;
            padding: 0% 5%;
        }
        .plantCareText,
        .bestTimeText,
        .spurtsText,
        .potting101Text {
            font-size: 1.6rem;
            margin: 5% 10%;
        }
    }
    /* media queries for 600px */
    
    @media screen and (max-width: 600px) {
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .title h1 {
            font-size: 2.5rem;
            max-width: 100%;
            margin: 0 auto;
            padding: 2% 0%;
        }
        .links a {
            font-size: 1.5rem;
            width: 100%;
            margin: 0;
            text-align: center;
        }
        nav.links {
            width: 100%;
            margin: 0 auto;
        }
        nav.accountLinks {
            margin: 1% 1%;
            width: 35%;
        }
        .accountLinks a {
            font-size: 1.2rem;
            padding: 5% 3%;
            text-align: center;
        }
        .headerImg {
            max-height: 150px;
        }
        .intro h2,
        .record h2,
        .forget h2,
        .organize h2 {
            font-size: 2.5rem;
            text-align: center;
        }
        .record p,
        .organize p,
        .forget p,
        .intro p {
            font-size: 1.2rem;
        }
        /*queries for article page */
        .mainContentArticles {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .mainContentArticles div {
            width: 90%;
            margin: 4% 0%;
        }
        .mainContentArticles a {
            margin-top: 5%;
            font-size: 3.2rem;
        }
        /*queries for SUBarticles page */
        .plantCareSection,
        .bestTimeSection,
        .spurtsSection,
        .potting101Section {
            padding: 4%;
        }
        .plantCareSection img,
        .bestTimeSection img,
        .spurtsSection img,
        .potting101Section img {
            width: 32rem;
            height: 20rem;
        }
        .plantCareSection h2,
        .bestTimeSection h2,
        .spurtsSection h2,
        .potting101Section h2 {
            font-size: 3rem;
            padding: 0% 5%;
        }
        .plantCareText,
        .bestTimeText,
        .spurtsText,
        .potting101Text {
            font-size: 1.6rem;
            margin: 0% 10%;
        }
    }